@font-face {
  	font-family: 'logoFont';
    src: url('../assets/MontserratSubrayada-Bold.ttf')  format('truetype');
    /*Montserrat Subrayada*/
}

@font-face {
  	font-family: 'OpenSans';
    src: url('../assets/OpenSans-Regular.ttf')  format('truetype');
    /*Open Sans*/
}

body{
	font-family: 'OpenSans', sans-serif;
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;

}

h1{
	font-family: logoFont, sans-serif;
	color: #fb517b;
	font-size: 1.5rem;
	margin: 0;
	display: inline-block;
	width: 70%;
}

h3{
	width: 100%;
	border-bottom: solid 2px #fb517b;
	color: #fb517b;
}

h4{
	margin: 0;
	font-family: logoFont, sans-serif;
	color: #2d3c86;
	font-size: 0.8rem;
}

header{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	background: #2d3c86;
	border-bottom: solid 1px #000;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}

content{
	display: block;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
}

menu{
	display: block;
	float: left;
	width: 60%;
	margin-left: -80%;
	background: #e0e0e0;
	padding: 0;
	padding-left: 15%;
	height: 400px;
	box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.4);
	box-sizing: border-box;
}

a{
	color: #333;
}

a.cta{
	display: block;
	margin: auto;
	min-width: 50%;
	font-size: 6vw;
	border-radius: 5px;
	border: solid 3px #fb517b;
	color: #fb517b;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	margin-top: 60px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

.fa{
	color: white;
	margin: 1%;
}
.fa-dark{
	color: black;
}
.inline{
	display: inline;
}
.menuIcon{
	text-decoration: none;
}

.stdBox{
	width: 100%;
	margin: auto;
	background: #666;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
}

.noUnderline{
	text-decoration: none;
}